/* DOCUMENT INFORMATION
- Document: Theme_Name
- Version:  1.0.0
- Client:   Client_Name
- Author:   Emin Azeroglu
*/


body{
  font-family: 'Poppins', sans-serif;
}

$cl-light: rgba($color: #fff, $alpha: .69) !important;

$main-color: #F4A627 !important;

.cl-light{
  color: rgba($color: #fff, $alpha: .69) !important;
}

.cl-dark{
  color: rgba($color: #000, $alpha: .7) !important;
}

.cl-lighter{
  color: rgba($color: #fff, $alpha: .5) !important;
}

.cl-yellow{
  color: #F4A627 !important;
}


.bg-cl--yellow{
  background: #F4A627 !important;
}

.bbr{
  width: 1200px;
}


.btn{
  border-radius: 5px !important;
}

.badger{
  width: 80px;
  height: 26px;
  background: #F4A627;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  padding: 7px 22px;
}


// Navbar

.nav-header{
  width: 1200px;
  margin: 0 auto;

  .nav-1{
    height: 113px;
  }

  .navbar-hr{
    border-top: 0.5px solid rgba($color: #000000, $alpha: .2);
    padding-top: 0 !important;
  }
  
  .navbar-li--specs li{
    font-weight: 600;
    padding-top: 1.2rem;
    border-top: 3px solid transparent;
    margin-top: -1px;
    margin-right: 40px;
  
    &:hover{
      border-top: 3px solid #F4A627;
    }
  }
  
  .nav-btn{
    height: 30px;
    width: 136px;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
  }

  .search{
    padding-top: 1.2rem ;
  }

}

.nav-black{
  color: $cl-light;
  background: #141414;    

  &--wrap{
    width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }

  
}  

.flex-caption {
  width: 96%;
  padding: 2%;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  font-size: 14px;
  line-height: 18px;
}


// Showcase




.showslider {
  border: none ;
  margin: 0;
  .slides {
  li {
    &:after {
      content: '';
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,.13);
    }
  }
  img{
    @include bg-fix;
    margin: 0 auto;
    height: calc(100vh - 174px);
    width: 765px;
    object-fit: cover;
    position: relative;    
  }
  
  

  .showcase-content{
    text-align: left;
    position: absolute;
    padding-left: 56px;
    bottom: 40px;
    margin: 0 auto;
    z-index: 20;
    
    
    h1{ 
      margin: 1rem 0;
      font-weight: 600;
      font-size: 32px;
      color: #fff;
    }
    
    p{
      color: $cl-light;
    }
    
    .show-para{
      width: 656px;
      line-height: 1.9;
    }
  }
  }
}


.flex-direction-nav .flex-prev, 
.flex-direction-nav .flex-next {
  margin: 0 5rem;
}


.flex-control-nav{
  display: none ;
}


// News Slider

.news-slider{
  width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 100px 0;
  
  .flex-control-nav, .flex-direction-nav {
    display: none !important;
  }

  .flexslider {
    margin: 0;
    .slides {
      li {
        height: 460px;
      }
    }
  }

  ul{
    list-style: none;
  }

  .card-controller{
    .news-cont{
      color: rgba($color: #484848, $alpha: .54);
    }
    margin-bottom: 1.2rem;
  }

  .slider-card{
    width: 325px !important;
    height: 18rem;
    position: relative;

    .badger{
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 1rem;
    }

    &--content{
      position: absolute;
      width: 325px;

      h5{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width:344px;
        font-size: 18px;
        font-weight: 600;
      }

      .card-name{
        font-size: 14px;
        font-weight: 600;
        margin-right: 1.7rem;
      }
      p{
        line-height: 1.6;
        color: rgba($color: #484848, $alpha: .62);
      }
    }

    &--img{
      @include bg-fix;
      height: 303px;
      position: relative;
      border-radius: 5px;
      margin-bottom: 20px;
      overflow: hidden; 

      &:hover .inner {
        opacity: 1;
        visibility: visible;
      }

      .app-photo {
        width: 100%;
        height: 100%;
      }

      .inner {
        @include position();
        @include transition(all .4s);
        background-color: rgba(0,0,0,.7);
        z-index: 20;
        opacity: 0;
        visibility: hidden;

        .btn{
          width: 204px;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
        }
      }

      .btn-outline-warning{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}


// Hot news

.hot-news---bg{
  width: 100%;
  background-color: #141414;
  .hot-news{
    height: 697px;
    padding: 56px 0 80px;
    color: #fff;
    .news-cont{
      color: #fff !important;
    }
    h2{
      font-size: 32px;
      margin-bottom: 2rem;
      span{
        color: $main-color;
      }
    }
  
  
    .flexslider{
      width: 1200px !important;
      margin: 0 auto;
      border: none;
      background: transparent;
    }
  
    .slider-card--content p{
      color: $cl-light;
    }
  }
}



// Gallery

.gallery-wrapper{
  width: 1200px;
  margin: 0 auto;
  padding: 100px 0 110px;

  .gallery-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 43px;
    width: 73.4rem;

    .gallery-category--header{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .image-gallery--line {
      width: 21px;
      height: 2px;
      background-color: #F4A627
    }

    h4{
      margin-right: 3rem;
    }

    h2{
      font-size: 32px;
      font-weight: 600;
    }
  }

  .column-1{
    margin-right: 30px; 

    li{
      position: relative;
    }

    

    .gallery{
      position: relative;
      width: 875px;
      height: 480px;
  
      .gallery-slides{
        margin: 0;
        border: none;
      }
  
      #carousel{
        margin-top: 1px;
  
        .slides img{
          height: 72px;
          width: 107px;
          border-radius: 5px;
          opacity: 0.58;
          cursor: pointer;
        }
      }
  
      .gallery-controller{
        position: absolute;
        z-index: 99;
        right: 0;
        bottom: 0;
        margin: 36px 56px;
        cursor: pointer;

        img{
          height: 14px;
          width: 26px;
        }
      }
      
      .flex-control-nav, .flex-direction-nav {
        display: none !important;
      }
    }

    .flex-active-slide img{
      position: relative;
      border-radius: 5px;
      opacity: 1 !important;
    }

    .flex-active-slide::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 5px;
      background: linear-gradient(
        to top,
        rgba(#000, .5),
        rgba(#000, 0)
      );


    }


    .gallery-content{
      position: absolute;
      z-index: 99;
      top: 21rem;
      left: 3.5rem;

      &--desc{
        display: flex;
      }

      h2{
        font-size: 32px;
        font-weight: 600;
        color: #fff;
        margin: 15px 0 .5rem;
      }

      p{
        color: $cl-light;
      }
    }
  }

  .column-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 555px;
    
  }
  
  
  
  
  
}


// Category

.gallery-category{
  width: 270px;

  
  &--section{
    div{
      margin-bottom: .5rem;
      padding: 0 1.2rem;
      justify-content: space-between;
      align-items: center;
      height: 49px;
      border: 2px solid #eee;
    }
  }
}


// Instagram

.insta{
  width: 270px;

  .insta-feed{
    display: grid;
    grid-template-columns: repeat(3, 89px);
    grid-template-rows: repeat(3, 89px);
    gap: 2px;
    img{
      width: 89px;
      height: 89px;
      @include bg-fix;
    }
  }

  .insta-header--line{
    width: 128px;
    height: 2px;
    background-color: #F4A627
  }
}


//  Writers

.writers{
  height: 498px;
  width: 100%;
  position: relative;
  @include bg-fix;

  a{
    position: relative;
    z-index: 99;
    font-size: 20px;
    margin:  5rem 5px;
  }

  .writer-con--1{
    left: 10px;
    float: left;
  }

  .writer-con--2{
    right: 10px;
    float: right;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to top,
      rgba(#000, .67),
      rgba(#000, .67)
    );
  }


  h2{
    font-size: 32px;
    color: #fff;
    font-weight: 600;
    padding: 56px 0 80px;
    position: relative;
    z-index: 9;
  }

  .writer-slides{
    border: none;
    z-index: 99;
    width: 1200px;

    .flex-control-nav, .flex-direction-nav {
      display: none !important;
    }
  }

  .writer-slides li {
    @include flexCenter(column);
    list-style-type: none;
    position: relative;
    z-index: 9;

    img{
      @include bg-fix;
      height: 126px;
      width: 126px;
      border-radius: 50%;
      margin: 1rem 1.5rem;
    }

    h3{
      font-size: 1rem;
      font-weight: 600;
      margin: 7px 0;
    }

    p{
      font-size: 14px;
      font-weight: 200;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width:148px;
      color: $cl-light;
    }
  }  
  .writer-slide li{
    width: 148px !important;
    margin: 0 40px !important;
    color: #fff;
  }
}

// Subscribe

.subscribe{
  @include flexCenter(column);
  height: 406px;
  width: 1200px;
  margin: 0 auto;
  h2{
    line-height: 1.6;
    font-size: 32px;
    margin-bottom: 3.5rem;
    font-weight: 600;
    text-align: center;
  }

  .input-group {
    width: 474px;
    input{    
    border-radius: 30px 0 0 30px;
    box-shadow: 1px 1px 16px  rgba(0,0,0,0.16) !important;
    border: none;
    padding: 1.83rem;

    &::placeholder{
      font-size: 13px;
      color: #bababa;
    }
    }
  }

  .subs-btn{
    @include flexCenter(row);
    border-radius: 0 30px 30px 0px !important;
    width: 156px;
    color: #fff;
    box-shadow: 1px 1px 16px  rgba(0,0,0,0.16) !important;
    background: linear-gradient(180deg, rgba(255,204,102,1) 0%, rgba(244,166,39,1) 100%);
    font-weight: 600;
  }
}

// Testimonial

.testimonial{
  @include flexCenter(column);
  @include bg-fix;
  height: 363px;
  width: 100%;
  position: relative;

  &-wrapper{
    width: 1200px;
    position: relative;
    margin: 0 auto;
    z-index: 999;
    @include flexCenter(column);

   
    p{
      color: #fff;
      font-weight: 400;
      line-height: 1.6;
      text-align: center;
    }
  
    i{
      color: rgba($color: #fff, $alpha: 0.67);
      font-size: 14px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to top,
      rgba(#000, .67),
      rgba(#000, .67)
    );
  }
}

// Footer

.wh-footer{
  background-color: #000;
  height: auto;
  padding: 67px 100px 0;

  .ft-logo{
    margin-bottom: 80px;
  }
  
  i{
    font-size: 20px;
  }
  
  .ft-first{
    width: 1200px;
    margin: 0 auto;
    color: #fff;
  }

  ul{
    list-style: none;
  }

  .ft-row{
    @include flexCenter(row);
    justify-content: space-between !important;
    margin-bottom: 56px;

    .ft-col--1{
      display: flex;
      flex-direction: column;
      width: 342px;
      li{
        margin-bottom: 30px;

        img{
          margin-top: -18px;
        }

        p{
          margin-left: 2.15rem;
          line-height: 1.6;
        }

        h4{
          margin-bottom: 14px;
          color: $cl-light;
        }
      }
    }

    .ft-col--2{
      width: 342px;
      margin-top: 6px;
      li{
        margin-bottom: 40px;

        a{
          color: $cl-light;
        }
      }
    }

    .ft-col--3{
      width: 342px;
      li{
        margin-bottom: 43px;

        a{
          color: $cl-light;
        }
      }

    }

  }

  .social-icons{
    @include flexCenter(row);
    justify-content: flex-start !important;
    .social-icon{
      @include flexCenter(column);

      height: 46px;
      width: 46px;
      background-color: #464646;
      border-radius: 50%;
      margin-right: 21px;
      i{
        color: #F4A627;
      }
    }
  }

  .ft-copyright{
    padding: 0;
    border-top:1px solid rgba($color: #fff, $alpha: .16);
    p{
      color: rgba($color: #fff, $alpha: .4);
      margin: 30px 0;
    }
  }
}

// Blog  //////////////////

.blog-main{
  width: 1200px;
  margin: 0 auto;

  .header-text{
    font-size: 40px;
    font-weight: 600;
    color: #484848;
    max-width: 857px;
    margin: 1.5rem 0 3.5rem;
  }

  .blog-first{
    padding: 80px 0 0;
  }

  .blog-row{
    display: flex;
    .blog-content{
      width: 870px;
      .blog-content__img{
       @include bg-fix;
      }
  
      .content-header{
        font-size: 24px;
        font-weight: 300;
        font-style: italic;
        color: #b4b4b4;
        margin: 56px 0;
        line-height: 1.4;
      }
  
      h4{
        font-size: 24px;
        color: #484848;
        font-weight: 600;
      }
  
      p{
        margin-bottom: 2rem;
        line-height: 1.6;
        color: #484848;
      }
  
      .blog-specs{
        margin-left: 1rem;
        color: #B4B4B4;
  
        li p{
          color: #B4B4B4;
        }
      } 
  
      .blog-ads{
        color: #000;
        height: 98px;
        width: 100%;
        background: #F4A627;
        display: flex !important;
        justify-content: center;
        align-items: center;
        margin: 56px 0 56px 0;
      
        h3{
          font-size: 21px;
          color: #fff;
          font-weight: 600;
        }
      }
    }
  }

  .blog-author{
    img{
      height: 60px;
      width: 60px;
      border-radius: 50%;
    }

    .author-about{
      padding: .8rem 0;
      h4{
        font-size: 18px;
        font-weight: 600;
      }

      p{
        font-style: 12px;
        font-weight: light;
        color: #888;
      }
    }
  }
  
  .social-icon{
    @include flexCenter(row);
    height: 46px;
    width: 46px;
    background-color: #888;
    border-radius: 50%;
    margin-right: 21px;
    i{
      color: #fff;
    }
  }

  .blog-category{
    margin-left: 30px;
    .insta{
      margin-top: 30px;
    }
  }

  .blog-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 15px;

    .blog-card{
      width: 100%;
      height: auto;
      position: relative;
      
      h5{
        color: #484848;
      }
  
      p{
        color: rgba($color: #484848, $alpha: .6);
      }
  
      &--content{
        width: 18rem;
        h5{
          font-weight: 600;
        }
      }
  
      &--img{
        @include bg-fix;
        width: 270px;
        height: 252px;
        position: relative;
        border-radius: 5px;
        margin-bottom: 20px;
        overflow: hidden; 
  
        .badger{
          position: absolute;
          bottom: 1rem;
          left: 1rem;
        }
      }
   
      &--content{
        h5{
          font-size: 18px;
          font-weight: 600;
          color: #484848;
        }
        .card-name{
          font-size: 13px;
          font-weight: 700;
          margin-right: 1.7rem;
          color: rgba($color: #888888, $alpha: 0.6);
        }
        p{
          line-height: 1.6;
          font-size: 14px;
        }
      }
    }
  }
}

// Test //////////////////

.test-main{
  width: 1200px;
  margin: 0 auto;
  
  .test-content{
  position: absolute;
  bottom: 42px;
  left: 39px;
  z-index: 99;
  width: 80%;
  
  .badger{
  width: 162px;
  }
  
  p{
  color: $cl-light;
  }
  
  h2{
  font-size: 32px;
  color: #fff;
  font-weight: 600;
  margin: 20px 0 16px;
  }
  }
  
  p{
    line-height: 1.6;
  }

  .test-col--1{
    height: 630px;
    width: 874px;
    position: relative;
  }

  .test-col--1::after, 
  .aside-img::after, 
  .clb-img::after, 
  .pr-img::after,
  .merry-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to top,
      rgba(#000, .7),
      rgba(#000, 0)
    );
  }

  .test-col--2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
    margin-left: .5rem;

    .aside-img{
      height: 310px;
      width: 286px;
      position: relative;
    }

    .test-content{
      bottom: 24px;
      left: 1rem;
      h2{
        margin: 16px 0 8px;
        font-size: 18px;
      }

      p{
        font-size: 12px;
      }

      .badger{
        width: 135px;
      }
    }
  }
 
  .test-showcase{
    display: flex;
    .celebrities{ 
      
      .test-content{
        bottom: 24px;
        left: 40px;

        .badger{
          width: 135px;
        }
        h2{
          margin: 16px 0 8px;
          font-size: 18px;
        }

        p{
          font-size: 12px;
        }
      }

      .clb-img{
        height: 314px;
        width: 433px;
        position: relative;
        margin: 8px 8px 0 0;
      }

      .paris{
        .pr-img{
          height: 314px;
          width: 874px;
          position: relative;
          margin: 8px 8px 0 0;
        }
  
        .test-content{
          bottom: 24px;
          left: 40px;
    
          .badger{
            width: 135px;
          }
          h2{
            margin: 16px 0 8px;
            font-size: 18px;
          }
    
          p{
            font-size: 12px;
          }
        }
      }
    }

    .blog-category{
      margin-left: 8px;
    }

    .gallery-category--section div{
      width: 277px;
    }


    .insta{
      margin-top: 2rem;
    }


    .merry{
      width: 100%;
      height: 312px;
      .merry-img{
        margin: 8px 8px 0 0 ;
        height: 300px;
        width: 286px;
        position: relative;
      }

      .test-content{
        left: 16px;
        position: absolute;
      }
    }
  } 
}


.image-blog--line{
  width: 100px;
  height: 2px;
  background-color: $main-color;
}

.main-test--1{
  @include bg-fix;
  height: 100vh; 

  .test-wrapper{
    width: 1200px;
    margin: 0 auto;
  }
  img{
    position: relative;
    z-index: 99;
  }

  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to top,
      rgba(#000, .7),
      rgba(#000, .7)
    );
  }
  
  .test-nav{
    padding: 31px 0;

    a{
      color: #fff;
    }
  }
  .test-close{
    z-index: 99;
    i{
      font-size: 1.5rem;
    }
  }

  .test-content{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
    position: absolute;
    text-align: center;
    
    h2{
      font-size: 32px;
      color: #fff;
      font-weight: 600;
    }

    p{
      font-size: 1rem;
      color: rgba($color: #fff, $alpha: .7);
      text-align: center;
      margin: 40px 0;
      width: 656px;
      line-height: 1.6;
    }

    .btn{
      padding: 0.7rem 2.9rem;
    }
  }


  .test-1{ 
    margin: -3.5rem auto;
    background: #fff;
    width: 664px;
    height: auto;
    padding: 1.5rem;
    z-index: 99;
    position: relative;
    border-radius: 5px;

    .test-num{
      color: #b4b4b4;
    }

    .num-result{
      margin: .5rem 0 1rem;
      text-align: center;
      color: red;
    }

    h2{
      font-size: 32px;
    }

    .result-img{
      height: 221px;
    }

    img{
      margin: 1rem 0 0;
      height: 336px;
      width: 100%;
    }

    p{
      color: #484848;
      width: 100%;
      margin-bottom: 1rem;
      font-size: 1rem;
      line-height: 1.6;
    }

    .form-check{
      margin-bottom: 0.5rem;
      line-height: 1.6;
      font-weight: 600;

    input[type='radio']:checked + .form-check-label{
      color: red;
    }

      i{
        margin-right: .5rem;
      }
    }


    .test-result{
      text-align: center; 
  
      
      .btn{
        background: #F4A627;
        padding: 0.7rem 2.9rem;
      }
    }

    .test-res{
      padding: 0.7rem 4.9rem !important;
    }
    

    .result-test{
      margin-bottom: 1.5rem;

      input[type='radio']:checked + .form-check-label{
        color: #F4A627;
      }
    }
  }

}


.bg-result-test{
  background-color: #000;
}
